*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    min-height: 2000px;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* navbar */
.navbar{
    display: flex;
    font-family: 'Poppins';
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 3%;
    background-color: rgba(12, 12, 12, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.navbar .navbar-logo{
    width: 30%;
    height: auto;
    top: 0;
    left: 0;
    margin-bottom: -4px;
}
.navbar .navbar-nav a{
    color: aliceblue;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 3rem;
    letter-spacing: 1px;
    font-weight: bold;
}
.navbar .navbar-nav a:hover{
    color: rgb(29, 28, 28);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Header Foto dan Section */
.header{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../asset/header2.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.header::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 3% rgba(255, 255, 255, 0) 25%);
}
.header .content{
    padding: 1.4rem 5%;
    max-width: 60rem;
}
.header .content h4{
    font-size: 6rem;
    color: rgb(40, 82, 49);
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    letter-spacing: 5px;
    line-height: 6rem;
}
.header .content h3{
    color: rgb(246, 250, 247);
    font-size: 3rem;
    text-shadow: 1px 1px 3px rgba(1,1,3,0.5);
    letter-spacing: 5px;
}
.header .content a{
    margin-top: 4rem;
    display: inline-block;
    padding-top: 10rem;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    background-color: rgb(40, 82, 49);
    border-radius: 0.5rem;
    box-shadow: 1px 2px white;
    letter-spacing: 0.1rem;
}

/* tentang */
.tentang{
    padding: 4rem;
}
.content{
    color: white;
}
.tentang h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 1.4rem;
    border-bottom: 1px solid;
}
.content h3{
    text-align: center;
    font-size: 1.6rem;
}
.content p{
    text-align: center;
}
.tentang .row .tentang-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tentang .row .tentang-img img{
    height: 10rem;
    margin-bottom: 1.4rem;
}

/* kegiatan */

.kegiatan h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
}
.kegiatan{
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 2rem;
}
.kegiatan p{
    text-align: center;
    color: white;
}
.kegiatan .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}
.kegiatan .row .kegiatan-card{
    text-align: center;
}
.kegiatan .row .kegiatan-card img{
    height: 20rem;
    border-radius: 20%;
    padding: 9%;
}
.kegiatan .row .kegiatan-card .kegiatan-card-title{
    margin-top: 1rem;
}
.kegiatan .row .kegiatan-cardlatihan img{
    height: 16rem;
    border-radius: 20%;
    padding: 8%;
}
.kegiatan a{
    color: white;
}

/* daftar */
.daftar{
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 5rem;
}
.daftar h2{
    color: white;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    border-bottom: 1px solid;
    margin-bottom: 1rem;
}
.daftar a{
    margin-top: 1rem;
    display: inline-block;
    padding-top: rem;
    color: white;
    font-size: 1rem;
    padding: 1rem 3rem;
    background-color: rgb(40, 82, 49);
    border-radius: 0.5rem;
    letter-spacing: 0.1rem;
}
.daftar p{
    text-align: center;
    color: white;
}

/* content-end */
.content-end{
    background-color: rgb(40, 82, 49);
    margin-top: 4rem;
}
.content-end p{
    text-align: center;
    color: white;
    padding-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
/* media queries */
/* laptop */
@media screen {
    
}
@media screen and (max-width: 1250px){
    html{
        font-size: 80%;
    }
    .navbar .navbar-nav a{
        color: aliceblue;
        display: inline-block;
        font-size: 1.5rem;
        margin: 0 1rem;
        letter-spacing: 1px;
    }
}
/* mobile phone */

@media screen and (max-width: 510px) {
    html{
        font-size: 56%;
    }
    .navbar .navbar-nav a{
        color: aliceblue;
        display: inline-block;
        font-size: 1.5rem;
        margin: 0 1rem;
        letter-spacing: 1px;
    }
    .header{
        min-height: 90vh;
        display: flex;
        align-items: center;
        background-image: url('../asset/header2.jpeg');
        background-size: cover;
        background-position: center;
        position: relative;
    }
}
@media screen and (max-width: 370px) {
    html{
        font-size: 56%;
    }
    .navbar .navbar-nav a{
        color: aliceblue;
        display: inline-block;
        font-size: 1.3rem;
        margin: 0 1rem;
        letter-spacing: 1px;
    }
}